<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amateur.traveller.persistence.AccountMapper">

  	<cache />

    <select id="getUserByEmail" parameterType="string" resultType="Account">
	    SELECT
			account.account_id,
			account.nickname,
			account.pass,
			account.real_name,
			account.email,
			account.idiograph,
			account.sex,
			account.id_number,
			account.phone,
			account.province,
			account.city,
			account.image_url
	    FROM account
	    WHERE account.email=#{email}
    </select>
    <select id="getAccountById" parameterType="int" resultType="Account">
	    SELECT
			account.account_id,
			account.nickname,
			account.pass,
			account.real_name,
			account.email,
			account.idiograph,
			account.sex,
			account.id_number,
			account.phone,
			account.province,
			account.city,
			account.image_url
	    FROM account
	    WHERE account.account_id=#{accountId}
    </select>    
     <select id="getFollowerList" parameterType="int" resultType="Account">
	    SELECT
			account.account_id,
			account.nickname,
			account.pass,
			account.real_name,
			account.email,
			account.idiograph,
			account.sex,
			account.id_number,
			account.phone,
			account.province,
			account.city,
			account.image_url
	    FROM account
	    WHERE account.account_id IN (SELECT follow_ship.follower_id from follow_ship WHERE follow_ship.followee_id=#{accountId});
    </select>    
     <select id="getFolloweeList" parameterType="int" resultType="Account">
	    SELECT
			account.account_id,
			account.nickname,
			account.pass,
			account.real_name,
			account.email,
			account.idiograph,
			account.sex,
			account.id_number,
			account.phone,
			account.province,
			account.city,
			account.image_url
	    FROM account
	    WHERE account.account_id IN (SELECT follow_ship.followee_id from follow_ship WHERE follow_ship.follower_id=#{accountId});
    </select>    
	<insert id="registerUser" parameterType="Account">
		insert into account (nickname, email, pass, sex)
		values (#{nickname}, #{email}, #{pass}, #{sex})
	</insert>
	<update id="updateUser" parameterType="Account">
		update account set 
			nickname = #{nickname},
			real_name = #{realName},
			idiograph = #{idiograph},
			sex = #{sex},
			id_number = #{idNumber},
			phone = #{phone},
			province = #{province},
			city = #{city},
			image_url = #{imageUrl}
		where email = #{email}
	</update>
	<update id="updatePassword" parameterType="Account">
		update account set 
			pass = #{pass}
		where account_id = #{accountId}
	</update>	
</mapper>